body {
  font-family: arial, sans-serif;
}


.radar {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(254, 255, 134);
  border-radius: 5px;
}

h1 {
  color: #B0DAFF;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #19A7CE;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
