body {
  font-family: arial, sans-serif;
}

h1 {
  color: #B0DAFF;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #19A7CE;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.radar-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.radar {
  padding: 20px;
  border: 1px solid rgb(254, 255, 134);
  border-radius: 5px;
}

.elevate {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #146C94;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .breeze {
  position: relative;
  font-size: 16px;
  top: -34px;
}